@charset "utf-8";

ul, ol {
    list-style: none;
}
footer {
    padding-top: 20px;
    text-align: center;
    font-family: sans-serif;
}
@media only screen and (min-width: 481px) {
    header {
        display: block;
        height: 420px;
        background-color: orangered;
        border: solid;
        border-color: black;
        width: auto;
    }

        header > img {
            width: 60%;
            height: 420px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

    nav ul {
        margin: 0px auto;
        width: 500px;
        font-family: sans-serif;
        vertical-align: auto;
    }

        nav ul li {
            display: block;
            width: 120px;
            float: left;
            border: 1px solid #000;
        }

        nav ul a {
            display: block;
            padding: 3px;
            text-decoration: none;
            color: black;
            background-color: orangered;
            text-align: center;
        }

            nav ul a:hover {
                background-color: #009;
                color: #fff;
            }

    section {
        display: block;
        border: solid;
        border-color: black;
        border-radius: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 10px 30px 0px 30px;
        font-family: sans-serif;
    }

    form {
        border: solid;
        border-color: black;
        border-radius: 20px;
        margin: 50px 0px 30px 30px;
        padding: 20px;
    }

    .formRow {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        margin: 7px 0px;
    }

    form > fieldset {
        border-radius: 20px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-flex: 1 1 300px;
        flex: 1 1 300px;
        font-size: 1em;
        padding: 10px;
        margin: 10px;
    }

    div#buttons {
        text-align: center;
        width: 100%;
    }
    /*Validation Styles*/
    input#firstName:focus:valid,
    input#lastName:focus:valid,
    input#state:focus:valid {
        border-color: green;
    }
}