@charset "utf-8";

@media screen and (max-width: 481px) {
    header {
        display: block;
        background-color: orangered;
        border: solid;
        border-color: black;
        width: auto;
        height: 200px;
    }

        header img {
            display: block;
            height: 200px;
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }

    nav li.highestmenu {
        border-top: solid;
        border-color: black;
    }

    nav li {
        border-bottom: solid;
        border-right: solid;
        border-left: solid;
        border-color: black;
        text-align: center;
    }

    nav ul li {
        padding: 7px;
        background-color: orangered;
        width: auto;
        margin: auto;
        font-family: sans-serif;
    }

    div {
        border-bottom: dashed;
        border-bottom-color: orangered;
    }

    section {
        padding-top: 20px;
        border-top: dashed;
        border-color: orangered;
    }
    h1{
        border-top: dashed;
        border-bottom: dashed;
        
    }
    div{
        border-bottom: dashed;
        margin-top: 150px;
    }
    h1, div{
        border-color: orangered;
    }
}
