@charset "utf-8";

ol, ul {
    list-style: none;
}
footer {
    padding-top: 20px;
    text-align: center;
    font-family: sans-serif;
}
@media only screen and (min-width: 481px) {
    header {
        display: block;
        height: 420px;
        background-color: orangered;
        border: solid;
        border-color: black;
        width: auto;
    }

        header > img {
            width: 60%;
            height: 420px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

    nav ul {
        margin: 0px auto;
        width: 500px;
        font-family: sans-serif;
        vertical-align: auto;
    }

        nav ul li {
            display: block;
            width: 120px;
            float: left;
            border: 1px solid #000;
        }

        nav ul a {
            display: block;
            padding: 3px;
            text-decoration: none;
            color: black;
            background-color: orangered;
            text-align: center;
        }

            nav ul a:hover {
                background-color: #009;
                color: #fff;
            }

    section {
        display: block;
        border: solid;
        border-color: black;
        border-radius: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 10px 30px 0px 30px;
        font-family: sans-serif;
    }
    div{
        border: solid;
        border-color: black;
        border-radius: 20px;
        margin: 50px 30px 0px 30px;
    }
    h1 {
        text-align: center;
        font-size: 3em;
        font-family: sans-serif;
        text-decoration-line: underline;
        text-decoration-color: orangered;
    }
}