@charset "utf-8";

ol, ul {
    list-style: none;
}
@media only screen and (min-width: 481px) {
    header {
        display: block;
        height: 420px;
        background-color: orangered;
        border: solid;
        border-color: black;
        width: auto;
    }

        header > img {
            width: 60%;
            height: 420px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    nav a {
        width: 32.7%;
        height: 310px;
        margin-top: 3px;
        border: solid;
        border-color: black;
        display: inline-block;
    }

        nav a img {
            display: block;
            width: 100%;
            height: 310px;
            margin-left: auto;
            margin-right: auto;
            filter: blur(3px);
            -webkit-filter: blur(3px);
            -moz-filter: blur(3px);
        }

        nav a:hover {
            background-color: orangered;
            color: #fff;
        }
}

